.header{
    background: #3366ff;
    padding: 40px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.header h1{
    font-size: 45px;
}
body{
    margin: 0;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.img{
    background-color: #3366ff27;
    padding: 20px;
}
.side{
    align-items: stretch;
}